{% extends 'base.html.twig' %}

{% block title %}Hello PknsController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> <ion-icon name="logo-octocat"></ion-icon> Hello {{ controller_name }}! ✅</h1>

    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}
